# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

jobs:
   checkout:
      working_directory: ~/repo 

      docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

      steps:
         - checkout
         - save_cache:
            key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
            paths:
               - ~/repo

         # Download and cache dependencies
         - restore_cache:
            keys:
               - v1-dependencies-{{ checksum "package.json" }}
               # fallback to using the latest cache if no exact match is found
               - v1-dependencies-

         # Download and cache node-cache
         - restore_cache:
            keys:
               - v1-nodecache-{{ checksum "gulpfile.js" }}
               # fallback to using the latest cache if no exact match is found
               - v1-nodecache-

         #- run: sudo npm prune    
         - run: 
            name: update-npm
            command: 'npm install'
      
         #store cache dependencies
         - save_cache:
            key: v1-dependencies-{{ checksum "package.json" }}
            paths:
               - node_modules

         #store node cache
         - save_cache:
            key: v1-nodecache-{{ checksum "gulpfile.js" }}
            paths:
               - cache

   build_original:
      docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

      working_directory: ~/repo

      steps:
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Download and cache node-cache
      - restore_cache:
          keys:
          - v1-nodecache-{{ checksum "gulpfile.js" }}
          # fallback to using the latest cache if no exact match is found
          - v1-nodecache-

      #- run: sudo npm prune    
      - run: sudo npm install
      #- run: sudo npm install -g gulp 
        
      # run tests!
      #- run: gulp build linux32,linux64,win32,win64,osx64
      - run: npx gulp build -p linux32,linux64,win32,win64
      
      - deploy:
         command: npx gulp zip -p linux32,linux64,win32,win64

   build_linux64:
      docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

      working_directory: ~/repo

      steps:
      - restore_cache:
         keys: 
         - v1-repo-{{ .Environment.CIRCLE_SHA1 }}
         - v1-repo-

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Download and cache node-cache
      - restore_cache:
          keys:
          - v1-nodecache-{{ checksum "gulpfile.js" }}
          # fallback to using the latest cache if no exact match is found
          - v1-nodecache-

      #- run: sudo npm prune    
      - run: sudo npm install
      #- run: sudo npm install -g gulp 
        
      # run tests!
      #- run: gulp build linux32,linux64,win32,win64,osx64
      - run: npx gulp build -p linux64
      
      - deploy:
         command: npx gulp zip -p linux64
      
      #store cache dependencies
      - save_cache:
         key: v1-dependencies-{{ checksum "package.json" }}
         paths:
            - node_modules

      #store node cache
      - save_cache:
         key: v1-nodecache-{{ checksum "gulpfile.js" }}
         paths:
            - cache
      
      - store_artifacts:
         path: ~/repo/dist

   build_linux32:
      docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

      working_directory: ~/repo

      steps:
      - restore_cache:
         keys: 
         - v1-repo-{{ .Environment.CIRCLE_SHA1 }}
         - v1-repo-
      
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Download and cache node-cache
      - restore_cache:
          keys:
          - v1-nodecache-{{ checksum "gulpfile.js" }}
          # fallback to using the latest cache if no exact match is found
          - v1-nodecache-
      
      #- run: sudo npm prune    
      - run: sudo npm install

      # run tests!
      #- run: gulp build linux32,linux64,win32,win64,osx64
      - run: npx gulp build -p linux32
      
      - deploy:
         command: npx gulp zip -p linux32
      
      #store cache dependencies
      - save_cache:
         key: v1-dependencies-{{ checksum "package.json" }}
         paths:
            - node_modules

      #store node cache
      - save_cache:
         key: v1-nodecache-{{ checksum "gulpfile.js" }}
         paths:
            - cache
      
      - store_artifacts:
         path: ~/repo/dist

   build_win64:
      docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

      working_directory: ~/repo

      steps:
      - restore_cache:
         keys: 
         - v1-repo-{{ .Environment.CIRCLE_SHA1 }}
         - v1-repo-

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Download and cache node-cache
      - restore_cache:
          keys:
          - v1-nodecache-{{ checksum "gulpfile.js" }}
          # fallback to using the latest cache if no exact match is found
          - v1-nodecache-
      
      #- run: sudo npm prune    
      - run: sudo npm install
      
      # run tests!
      #- run: gulp build linux32,linux64,win32,win64,osx64
      - run: npx gulp build -p win64
      
      - deploy:
         command: npx gulp zip -p win64
      
      #store cache dependencies
      - save_cache:
         key: v1-dependencies-{{ checksum "package.json" }}
         paths:
            - node_modules

      #store node cache
      - save_cache:
         key: v1-nodecache-{{ checksum "gulpfile.js" }}
         paths:
            - cache
      
      - store_artifacts:
         path: ~/repo/dist

   build_win32:
      docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

      working_directory: ~/repo

      steps:
      - restore_cache:
         keys: 
         - v1-repo-{{ .Environment.CIRCLE_SHA1 }}
         - v1-repo-

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Download and cache node-cache
      - restore_cache:
          keys:
          - v1-nodecache-{{ checksum "gulpfile.js" }}
          # fallback to using the latest cache if no exact match is found
          - v1-nodecache-
      
      #- run: sudo npm prune    
      - run: sudo npm install  
      
      # run tests!
      #- run: gulp build linux32,linux64,win32,win64,osx64
      - run: npx gulp build -p win32
      
      - deploy:
         command: npx gulp zip -p win32
      
      #store cache dependencies
      - save_cache:
         key: v1-dependencies-{{ checksum "package.json" }}
         paths:
            - node_modules

      #store node cache
      - save_cache:
         key: v1-nodecache-{{ checksum "gulpfile.js" }}
         paths:
            - cache
      
      - store_artifacts:
         path: ~/repo/dist


workflows:
   version: 2.1
   build-and-deploy:
      jobs:
         - checkout
         - build_linux64:
            requires:
               - checkout
         - build_linux32:
            requires:
               - checkout
         - build_win32:
            requires:
               - checkout
         - build_win64:
            requires:
               - checkout
